h1{
    color: rgb(52, 94, 173);
}
h2{
    color: crimson;
    text-decoration: overline;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#banner{
    padding-bottom: 5px;
    padding-top: 5px;
}
#banner p{
    margin: 0;
}

article{
    margin-bottom: 50px;
}

.logo{
    height: 50px;
    width: 50px;
}

.DifferentLookingText{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.WeirdColor{
    color: darkmagenta;
}

#tiger-image {
    max-width: 300px; /* Adjust this value to your desired maximum width */
    max-height: 200px; /* Adjust this value to your desired maximum height */
    width: auto;
    height: auto;
}

/* .accordion-button::after {
    content: '+';
    float: right;
  }

  .accordion-button.collapsed::after {
    content: '-';
  } */

/* this is for character count to appear below the textarea on the right side
if we need left side just comment below code 
if you need top right jusst change bottom to top and set margin-bottom as you need or expected*/
  .mb-3 {
    position: relative;
}

.position {
    position: absolute;
}

.position {
    bottom: 0;
    /* top: 0; this is for to get charterscount possition at top right */
}

.position{
    right: 0;
}

.position {
    margin-bottom: -1.5rem;
    /* margin-top: 0.5rem;  this is for to get charterscount at top right*/
}

.position {
    margin-right: 0.5rem;
}
